head {
    background-color: #fefefe;
    max-width: 1200px;
}
body {
    padding-top: 40px;
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    margin: auto;
}
#content{
    margin: 0 auto;
}
#top_affix{
    width: 100%;
    z-index: 99;
    padding: 30px 0 0 0;

}
#control_panel{
    box-shadow: 5px 6px 12px #cccccc;
    background-color: #fefefe;
    transition: all 1s ease 0s;
}
#main_content{
    background-color: white;
    min-height: 100vh;
    transition: all 1s ease 0s;
}
.Slim{
    max-width: 1200px;
}
.TemplatePanelContent>div{
    padding: 5px 0 5px 0;
}
.lowerCase{
    font-variant: none;

}
.validInput{
    box-shadow: 2px 2px 3px #43AC6A;
}
.alreadyThere{
    box-shadow: 2px 2px 3px #ffe116;
}
.validYetNonConformInput{
    box-shadow: 2px 2px 3px #ff5050;

}
.fuk>tr>td{
    width:33%
}
.fuc>tr>td>button{
    width:100%;
}
.userTable>div{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
.userTable>div>span{
    width: 25%;
}
.userTable>div>input{
    width: 75%;
}
.center{
    text-align: center;
    margin: 0 auto;
}
.mid{
    width: 50%;
}
.third{
    width:33%
}
.two_thirds{
    width:67%
}
.fill_wid{
    width:100%;
}
.alert{
    font-size: larger;
}
.alert-success:before{
    font: normal normal normal 12px/1 'Glyphicons Halflings';
    font-size: larger;
    content: '\e013  '
}
.alert-danger:before{
    font: normal normal normal 12px/1 'Glyphicons Halflings';
    font-size: larger;
    content: '\e014  '
}
.alert-info:before{
    font: normal normal normal 12px/1 'Glyphicons Halflings';
    font-size: larger;
    content:"\e086  ";
}
.alert-warning:before{
    font: normal normal normal 12px/1 'Glyphicons Halflings';
    font-size: larger;
    content:"\e101 ";
}
.timeAlert:before{
    font: normal normal normal 12px/1 'Glyphicons Halflings';
    font-size: larger;
    content:"\231b  ";
}
.divider-vertical {
    height: 40px;
    margin: 10px 0px 10px 0px;
    border-left: 1px solid #BF2E1A;
    border-right: 1px solid #BF2E1A;
}
.MainTable {
    border-collapse: collapse;
    width: 100%;
}
.MainTable th {
    border: 1px solid #ddd;
    height: 40px;
    background-color: #9f9f9f;
    font-style: normal;

}
.MainTable td {
    border: 1px solid #ddd;
    /*text-align: left;*/
    padding: 4px;
}

.MainTable tr:nth-child(even){background-color: #f2f2f2}

.MainTable tr:not(.header):hover {background-color: #ddd}

.ResultsHeaderTable {
    width: 100%;
}

.ResultsHeaderTable td{
    text-align: center;
}

th {
    font-size: Large;
}
td {
    font-size: large;
    font-variant: none;
}
td>h4, td>h3{
    font-variant: small-caps;
    font-weight: bolder;
}

.CustChk > [type='checkbox']{
    position: absolute;
    overflow:hidden;
    opacity:0;
    cursor: pointer;
    width: 1px;
}
.CustChk > [type='checkbox'] + label:before{
    font: normal normal normal 12px/1 'Glyphicons Halflings';
    content:"\e013";
    font-size: 3em;
    background-color: rgba(231, 231, 231, 0.53);
    color: rgba(231, 231, 231, 0.53);
    width: 100%;
    border: 1px solid #CCC;
    text-align: center;
    display: block;
}
.CustChk > [type='checkbox']:checked + label:before {
    color: #43AC6A;
}
.CustChk > [type='checkbox']:not(:checked) + label:before {
    content:"\2212";
    color: #222222;
}
.CustChk > [type='checkbox']:focus + label:before,
.CustChk > [type='checkbox']:hover + label:before {
    background-color: rgba(206, 206, 206, 0.53);
}
.CustChk > [type='checkbox']+label{
    cursor: pointer;
    text-align: center;
    width:100%;
}
.CustChk>label{
    text-align: center;
    width:100%;
}
.LinkButton{
    width: 100%;
}
.inspectionInput{
    width: 60%;

}
.inspectionInput>label{
    width:33%;
}
textarea{
    font-family: "Lucida Console", Monaco, monospace;
    width: 100%;
    height: 100%;
    font-variant: none;
}
.panel {
    box-shadow: 2px 3px 6px #cccccc;
    margin: 0 10px 10px 10px;
    transition: all 1s ease 0s;
}

.panel .panel-success-add{
    background-color: orange;
}
.panel-heading{
    text-align: center;
    transition: all 1s ease 0s;
}
.panelButtons.right{
    text-align: right;
}
.panelButtons.left{
    text-align: left;
}
.panelButtons.center{
    text-align: center;
}
.ControlPanelTable{
    width: 100%;
}
#reload_cp td{
    width:6%;
}
#reload_cp td:nth-child(2){
    width: 88%;
}
#reload_cp_pick td{
    width:20%;
}
#reload_cp_pick td:nth-child(2){
    width: 60%;
}
#pick_insp_cp{
    margin: 0 0 8px 0;
}
#pick_insp_cp td{
    width: 25%;
    margin: 0 2px 0 2px;
}
.PanelHeader{
    width: 100%;
}
.PanelHeader td{
    width:10%;
}
.PanelHeader td:nth-child(2){
    width: 80%;
}

@media (max-width: 1080px){
    .BigScreenLi{
        display: none!important;
    }
    .BigScreenLi2{
        display: none!important;
    }
    .divider-vertical{
        display: none!important;
    }

}
@media (min-width: 1080px){
    .LilScreenLi{
        display: none!important;
    }

}
@media (max-width: 1200px){
    .ResizeBtn{
        display: none!important;
    }

}
@media (min-width: 768px){
    .TinyScreenLi, .TinyScreenLi2{
        display: none!important;
    }
}
@media (max-width: 768px){
    .navbar-header{
        display: none!important;

    }
    .LilScreenLi{
        display: none!important;
    }
}
.TinyScreenLia{
    color: #9D9D9D;
}
.TinyScreenLia:hover{
    color: white;
    text-decoration: none;
}
.TinyScreenMenu{
    width: 50px;
    text-align:center;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}
.navbar-right {
    float: right!important;
}
.navbar-header{
    /*background-image: url("https://cdn.rawgit.com/caqao/front-end/master/web_scripts/logos/caqao.png");*/

}
.navbar{
    font-weight: 900;
    font-size: 15px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px #bf2e1a;

}

#rotate_glyph{
    transform: rotate(45deg);
}